

    .loginform-container
        {
         opacity:0.9;
        height:500px;
        margin-top:50% !important;       
     }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align:center;
}

.bg {
    /* The image used */

    background-image: url('../Images/bg6.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgchangepassword {
    /* The image used */
  
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.title{
    padding-top:20px;

}

